*{
    margin: 0;
    padding: 0px;
}
body{
    background-color:rgb(1, 6, 125);
}
div#parte1{
    display: flex;
}
div#parte1>h1{
    margin:auto;
    color: white;
    font-size: 3.7em;
}
div#parte1>img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
div#menutraço{
    margin-top: 20px;
}
div.traço{
    background-color: white;
    width: 35px;
    height: 4px;
    margin-top: 5px;
    margin-left: 10px;
}
div#menuaberto{
    display: none;
    visibility: hidden;
    background-color: white;
    width: 300px;
    position: absolute;
    height: 130vh;
    border-radius: 0px 30px;
    margin-top: -40px;
}
div#menuaberto>li{
    margin-left: 50px;
    cursor: pointer;
    list-style: none;
    margin-top: 40px;
}
div#menutraço2{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}
div.traço2{
    background-color: rgb(0, 0, 0);
    width: 35px;
    height: 4px;
    margin-top: 5px;
    margin-left: 10px;
}
div#parte2{
    display: inline-flex;
}
div#seta1{
    margin-top: 330px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 10px;
}
div#seta11{
    margin-top: 330px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 10px;
}
div#seta12{
    margin-top: 330px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 10px;
}
div#S1{
    background-color: white;
    width: 50px;
    height: 3px;
    transform: rotate(35deg);
}
div#S2{
    position: absolute;
    margin-top: -30px;
    background-color: white;
    width: 50px;
    height: 3px;
    transform: rotate(-35deg);
}
div#seta2{
    float: right;
    margin-top: 330px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}
div#seta21{
    float: right;
    margin-top: 330px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}
div#seta22{
    float: right;
    margin-top: 330px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}
div#S3{
    position: absolute;
    margin-top: -27px;
    background-color: white;
    width: 50px;
    height: 3px;
    transform: rotate(35deg);
}
div#S4{
    background-color: white;
    width: 50px;
    height: 3px;
    transform: rotate(-35deg);
}
div#viagens1{
    display: inline-flex;
    margin: auto;
    text-align: center;
}
div#viagens2{
    display: inline-flex;
    margin: auto;
    text-align: center;
}
div#viagens3{
    display: inline-flex;
    margin: auto;
    text-align: center;
}
div#parte2{
    margin-left: 130px;
    display: inline-flex;
}
div#viagem1{
    background-color: white;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    margin-right: 30px;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 5px rgb(3, 1, 51);
}
div#viagem2{
    background-color: white;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    margin-right: 30px;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 5px rgb(3, 1, 51);
}
div#viagem3{
    background-color: white;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    margin-right: 30px;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 5px rgb(3, 1, 51);
}
div#viagem4{
    background-color: white;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    margin-right: 30px;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 5px rgb(3, 1, 51);
}
div#viagem5{
    background-color: white;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    margin-right: 30px;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 5px rgb(3, 1, 51);
}
div#viagens1>div>img{
    width: 200px;
    height: 100px;
}
div#viagens1>div>li, h6, h2, h1{
    margin: 10px;
}
div#viagens1>div>button{
    cursor: pointer;
    border: none;
    background-color: rgb(1, 36, 89);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px;
}
div#viagens2>div>img{
    width: 200px;
    height: 100px;
}
div#viagens2>div>li, h6, h2, h1{
    margin: 10px;
}
div#viagens2>div>button{
    cursor: pointer;
    border: none;
    background-color: rgb(1, 36, 89);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px;
}div#viagens3>div>img{
    width: 200px;
    height: 100px;
}
div#viagens3>div>li, h6, h2, h1{
    margin: 10px;
}
div#viagens3>div>button{
    cursor: pointer;
    border: none;
    background-color: rgb(1, 36, 89);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px;
}
DIV#parte3{
    display:none;
    margin-left: 130px;
}
div#parte4{
   display: none;
   margin-left: 130px;
}